.create-product-body {
    width:100%;
    height:100%;
    background-color:red;
}
.create-product-cont{
    width:100%;
    height:100%;
}
.create-body-content{
    width:100%;
    height:100%;
    text-align:center;
}
.productInput {
    padding:1em;
    width:70%;
    margin:0;
}
.productButton {
    margin: 0;
   
}
