
.Layout_Html {
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
    font-family:'Source Sans Pro';
}
.Layout_body {    
    margin:0;
    padding:0;
    width: 100%;
    height: 100%
}
.Layout_Header{
    width:100%;
    height:7%;
   
}
.Layout_Head_Cont {
    margin: 0;
    width: 100%;
    height: 100%;
    
}
.Layout_Head_Body {
    margin: 0;
    width: 100%;
    height: 100%;
    
}
.Layout_Main_Logo {
    float:left;
    display: block;
    width: 20%;
    height: 100%;
    background-color: aquamarine;
}
.Layout_Head_ScrollContetn {
    float: left;
    display: block;
    width: 67%;
    height: 100%;
    background-color: #05527c;
    ;
}
.Layout_LogoLink{
    width:100%;
    height:100%;
}
.LayOut_MenuSide {
    font-family: 'Source Sans Pro';
    float: left;
    display: block;
    width: 13%;
    height: 100%;
    background-color: aqua;
}
/* Dropdown Button */
.dropbtn {
    font-family: 'Source Sans Pro';
    background-color: #05527c;
    color: white;
    padding: 16px;
    font-size: 1.5em;
    border: none;
    width: 100%;
    height: 100%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width:100%;
    height:100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position:absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width:100%;
    height:100%;
}
    .dropdown-content p {
        background-color:aquamarine;
        margin: 0;
        padding: 0;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
    }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #0fbfde;
}


.Layout_RenderBody {
    width: 100%;
    height:100%;
}
.Layout_Footer {
    width: 100%;
    height: 10%;
    background-color: burlywood;
}