<!DOCTYPE html>
<html class="Layout_Html">
<head>
    <meta charset="utf-8" />
    <link href="~/css/LayoutStyleSheet.css" rel="stylesheet" type="text/css" />
    <link href="~/css/SelectCompanyStyleSheet.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/js/LayoutScripts.js"></script>

</head>
<body class="Layout_body">
    
    <header class="Layout_Header">
        <div class="Layout_Head_Cont">
            <div class="Layout_Head_Body">
                <div class="Layout_Main_Logo">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="StartWorkPages" asp-controller="WorkPages"><img class="Layout_LogoLink" src="~/img/Icons/NeoStock.png" alt="" /></a>
                    }
                    else
                    {
                        <a asp-action="Index" asp-controller="Home"><img class="Layout_LogoLink" src="~/img/Icons/NeoStock.png" alt="" /></a>
                    }
                </div>
                <div onmouseover="Layout_CloseMenu()" class="Layout_Head_ScrollContetn">

                </div>
                <div class="LayOut_MenuSide">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <script type="text/javascript">
                            window.onload = function () {
                                Layout_LoadProfile('@User.Identity.Name');

                            };
                        </script>

                        <div class="dropdown">
                            <button id="dropbtn" class="dropbtn" disabled onclick="Layout_OpenDropdown()">Профиль</button>
                            <div id="dropdown-content" class="dropdown-content">
                                <img class="profile_photo" src="" />
                                <p id="Layout_FullName">Ваше имя</p>
                                <a class="Layout_ChangeProfile" onclick="Layout_ChangeProfile()">Редактировать профиль</a>
                                <a class="Logout" asp-action="Logout" asp-controller="Auth">Выйти</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <script type="text/javascript">
                            window.onload = function () {

                            };
                        </script>
                        <div class="dropdown">
                            <button class="dropbtn" onclick="Layout_OpenDropdown_without_data()">Меню</button>
                            <div id="dropdown-content" class="dropdown-content">
                                <a asp-action="Index" asp-controller="Home">Главная</a>
                                <a asp-action="AuthPage" asp-controller="Auth">Войти</a>
                                <a asp-action="RegistrationPage" asp-controller="Registration">Регистрация</a>
                                <a>О нас</a>
                                <a>Контакты</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </header>
    <main class="Layout_RenderBody" onmouseover="Layout_CloseMenu()">
        @RenderBody()
    </main>
    <footer onmouseover="Layout_CloseMenu()" class="Layout_Footer">
    </footer>
</body>

</html>
