<div class="create-product-body">
    <div class="create-product-cont">
        <div class="create-body-content">
            <form class="create-product-form" id="createProdForm">
                <input type="text" placeholder="Наименование"/>
                <input type="text" placeholder="Цена"/>
                <input type="text" placeholder="Кол-во"/>
                <input type="text" placeholder="Производитель"/>
                <input type="text" placeholder="Проивзодитель"/>
            </form>
        </div>
    </div>
</div>