@model IEnumerable<DepartmentsListViewModel>

<table class="Company-table">
    <tr class="Company-table-title">
        <th>Название</th>
        <th>Короткий адрес</th>
        <th>Тип подразделения</th>
        <th>Выбрать</th>
        <th><a href="#" id="company_open_pop_up" onclick="CompOpenPopUp()">Создать компанию</a></th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@Html.DisplayFor(modelItem => item.DepartmentName)</td>
            <td>@Html.DisplayFor(modelItem => item.ShortAddress)</td>
            <td>@Html.DisplayFor(modelItem => item.TypeName)</td>
            <td><a asp-action="StartWorkPages" asp-controller="WorkPages" asp-route-id="@item.ID" target="_blank">&#9989</a></td>
        </tr>
    }
</table>