@model IEnumerable<ProductionListViewModel>

<table id="companyTable" class="Company-table">
    <tr class="Company-table-title">
        <th>Название</th>
        <th>Цена(ед)</th>
        <th>Кол-во</th>
        <th>Общая цена</th>
        <th>Выбрать</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
            <td id="prodPrice">@Html.DisplayFor(modelItem => item.Price)</td>
            <td id="prodAmount">@Html.DisplayFor(modelItem => item.Amount)</td>
            <td id="prodFullPrice">@(item.Amount * item.Price)</td>
            <td><a asp-action="" asp-controller="">&#9989</a></td>
        </tr>       
    }
</table>