@model IEnumerable<CompaniesViewModel> 

<link href="~/css/SelectCompanyStyleSheet.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="~/js/CompanyPopUpScript.js"></script>
<div class="Company-main">
    <div class="Company-cont">
        <div class="Company-content" id="CompanyList">
            
            
        </div>
        <div id="CompanyPopUp" class="Company-popup">
            <div class="Company-popup-cont">
                <div class="Company-popup-content">
                    <p>создать компанию</p>
                    <form>
                        <input type="text" placeholder="Название"/>
                        <input type="text" placeholder="Адрес"/>
                        <input type="text" placeholder="Короткий Адрес"/>
                        <input type="text" placeholder="Описание"/ >
                        <select name="CompTypeId" asp-items="@ViewBag.CompTypesSelect"></select>
                        <button>Создать</button>
                    </form>
                    <div id="Company_Close_PopUp" onclick="CompClosePopUp()" class="Company-popup-close">&#10006</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {       
            $('#CompanyList').load('@Url.Action("CompaniesListPartialView", "WorkPages")')
    })
</script>
