<link href="~/css/WorkPageStyleSheet.css" rel="stylesheet" type="text/css"/>
<body class="work-body">
    <div class="Work-main">
        <div class="work-cont">
            <div class="Work-content">
                <div class="work-tool-bar">
                    <div class="work-tool-bar-1">
                        <div class="work-btn-group">
                            <button>Профиль</button>
                            <button>Сотрудники</button>
                            <button>Товары</button>
                            <button>Подразделения</button>
                            <button>Компания</button>
                        </div>
                    </div>
                    <div class="work-tool-bar-2">

                    </div>
                </div>
                <div class="work-main-grid">
                    <div class="work-partial-table">

                    </div>
                </div>
                <div class="work-propetries-conent">
                    <div class="work-partial-prop-1">

                    </div>
                    <div class="work-partial-prop-2">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>