<link href="~/css/WorkPageStyleSheet.css" rel="stylesheet" type="text/css" />
<link href="~/css/SelectCompanyStyleSheet.css" rel="stylesheet" type="text/css" />

<div class="work-body">
    <div class="Work-main">
        <div class="work-cont">
            <div class="Work-content">
                <div class="work-tool-bar">
                    <div class="work-tool-bar-1">
                        <div class="work-btn-group">
                            <button>Профиль</button>
                            <button>Сотрудники</button>
                            <button>Товары</button>
                        </div>
                    </div>
                    <div class="work-tool-bar-2">
                        <div class="work-btn-group-1">
                            <button onclick="OpenProdCreateView()">Добавить товар</button>
                            <button>Добавить сотрудника</button>
                        </div>
                    </div>
                </div>
                <div class="work-main-grid">
                    <div id="work-partial-table" class="work-partial-table">

                    </div>
                </div>
                <div class="work-propetries-conent">
                    <div id="work-partial-prop-1" class="work-partial-prop-1">

                    </div>
                    <div id="work-partial-prop-2" class="work-partial-prop-2">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/js/StartWorkPageScripts.js" type="text/javascript"></script>

